# Build tools
/coverage/
/vendor/
/test/phpunit/_cache/
/.phpunit.result.cache
/composer.lock

# Developer environment
.buildpath
.project
.settings
.idea
.DS_Store?
ehthumbs.db
Icon?
Thumbs.db
*.komodoproject
