/* color channel functions */
body .color-channels {
  --hue: 210;
  --saturation: 50%;
  --lightness: 40%;
  --hsvhue: 210;
  --hsvsaturation: 67%;
  --hsvvalue: 60%;
  --red: 51;
  --green: 102;
  --blue: 153;
  --alpha: 0.9;
  --luma: 11%;
  --luminance: 33%;
}
body .color-definitions .rgb {
  color: #336699;
}
body .color-definitions .rgba {
  color: rgba(51, 102, 153, 0.9);
}
body .color-definitions .argb {
  color: #e6336699;
}
body .color-definitions .hsl {
  color: #336699;
}
body .color-definitions .hsla {
  color: rgba(51, 102, 153, 0.9);
}
body .color-definitions .hsv {
  color: #326699;
}
body .color-definitions .hsva {
  color: rgba(50, 102, 153, 0.9);
}
body .css-filters .saturate {
  color: saturate(200%);
}
body .color-operations .saturate {
  color: rgba(0, 102, 204, 0.9);
}
body .color-operations .desaturate {
  color: rgba(102, 102, 102, 0.9);
}
body .color-operations .lighten {
  color: rgba(217, 230, 242, 0.9);
}
body .color-operations .darken {
  color: rgba(0, 0, 0, 0.9);
}
body .color-operations .fadein {
  color: #336699;
}
body .color-operations .fadeout {
  color: rgba(51, 102, 153, 0.4);
}
body .color-operations .fade {
  color: rgba(51, 102, 153, 0.5);
}
body .color-operations .spin50 {
  color: rgba(85, 51, 153, 0.9);
}
body .color-operations .spin720 {
  color: rgba(51, 102, 153, 0.9);
}
body .color-operations .spin-50 {
  color: rgba(51, 153, 119, 0.9);
}
body .color-operations .spin-720 {
  color: rgba(51, 102, 153, 0.9);
}
body .color-operations .mix-default {
  color: rgba(128, 102, 77, 0.9);
}
body .color-operations .mix60 {
  color: rgba(112, 102, 92, 0.9);
}
body .color-operations .greyscale {
  color: rgba(102, 102, 102, 0.9);
}
body .color-operations .contrast-1param {
  color: #ffffff;
}
body .color-operations .contrast-2param {
  color: #ffffff;
}
body .color-operations .contrast-3param {
  color: rgba(252, 179, 208, 0.9);
}
body .color-operations .contrast-4param {
  color: rgba(252, 179, 208, 0.9);
}
body .color-blenders .multiply {
  color: rgba(57, 52, 14, 0.99);
}
body .color-blenders .screen {
  color: rgba(198, 152, 139, 0.99);
}
body .color-blenders .overlay {
  color: rgba(90, 85, 56, 0.99);
}
body .color-blenders .softlight {
  color: rgba(96, 92, 89, 0.99);
}
body .color-blenders .hardlight {
  color: rgba(165, 85, 14, 0.99);
}
body .color-blenders .difference {
  color: rgba(148, 19, 139, 0.99);
}
body .color-blenders .exclusion {
  color: rgba(165, 119, 139, 0.99);
}
body .color-blenders .average {
  color: rgba(128, 102, 77, 0.99);
}
body .color-blenders .negation {
  color: rgba(232, 185, 139, 0.99);
}