#built-in {
  mix: #800080;
  mix: #4000bf;
  mix: rgba(64, 0, 191, 0.75);
  fade: rgba(0, 255, 0, 0.001);
  fade: rgba(0, 0, 17, 0.002);
  fade: #00ff00;
  fadein: rgba(0, 0, 0, 0.501);
  fadein: rgba(0, 0, 17, 0.802);
  fadein: rgba(0, 0, 0, 0.8);
  fadein: #000012;
  fadeout: rgba(0, 0, 0, 0.499);
  fadeout: rgba(0, 0, 17, 0.2);
  escape: ?&%3D&%25!%23$;
  javascript: /* Sorry, can not do JavaScript evaluation in PHP... :( */;
  darken: #080808;
}
